
//
// VARIABLES
//

// Colors
$blue_back: #4183C4; 
$blue: #023363;

// Grays
$black: #000;
$darkerGray_backup: #222;
$darkerGray: #9ce0cc;
$darkGray_backup: #333;
$darkGray: #81a3bf;
$gray_backup: #666;
$gray: #C0BEB8;
$lightGray: #eee;
$white: #fff;
$favRed: #4b4b4b;

// Font stacks
$helvetica:  Microsoft Yahei,Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
